@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  min-height: 100vh;
}

#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.project:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.project:nth-child(2n+1) .info {
  align-items: flex-end;
  text-align: end;
}

.project:nth-child(2n+1) .heading-wrapper,
.project:nth-child(2n+1) .description-wrapper {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  #projects .project {
    flex-direction: column
  }

  #projects .project .info {
    align-items: flex-start;
    text-align: start;
  }

  #projects .project:nth-child(2n+1) .heading-wrapper,
  #projects .project:nth-child(2n+1) .description-wrapper {
    flex-direction: row;
  }
}